<div class="container">
    $if session['user'] == None:
        <h1>Hello Chirper</h1>
    $else:
        <div id="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="sidebar-wrapper">
                        <ul class="sidenav">
                            <li class="active"><a href="/"><i class="material-icons">home</i> Home Feed</a></li>
                            <li><a href="#"><i class="material-icons">message</i></a> Messages</li>
                            <li><a href="#"><i class="material-icons">group</i></a> Friends</li>
                            <li><a href="#"><i class="material-icons">domain</i></a> Communities</li>
                            <li><a href="#"><i class="material-icons">notifications</i></a> Notifications</li>
                            <hr class="separator">
                            <li><a href="#"><i class="material-icons">settings</i></a> Settings</li>
                            <li><a href="#"><i class="material-icons">help</i></a> Help</li>
                        </ul>
                    </div> <!--End Sidebar-->
                </div>
                <div class="col-md-9">
                    <div class="">
                        <div class="background-image" style="background:url();">
                            <div class="avatar">
                                <img src="" />
                                <h2>$session['user']['name']</h2>
                                <span>Short blip goes here</span>
                            </div>
                        </div>
                        <div class="profile-nav">
                            <ul class="nav navbar-nav navbar-center">
                                <li><a href="/profile/$session['user']['name']">Activity</a></li>
                                <li><a href="/profile/$session['user']['name']/info">Info</a></li>
                                <li><a href="/profile/$session['user']['name']/contact">Contact</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div><!--END ROW-->
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-9">
                    <div id="biopanel" class="panel panel-default">
                        <div class="panel-body">
                            <form id="settings-form">
                                <h2>Basic Info</h2>
                                <span>Name</span>
                                <p><input name="name" class="form-control no-border" value="$session['user']['name']" /></p>
                                <span>About</span>
                                <p><textarea name="about" class="form-control no-border">$session['user']['about']</textarea></p>
                                <span>Interests</span>
                                <p><input name="interests" class="form-control no-border" value="$session['user']['interests']" /></p>
                                <span>Birthday</span>
                                <p><input name="birthday" class="form-control no-border" value="$session['user']['birthday']" /></p>
                                <button type="submit" class="btn btn-default btn-raised waves-effect">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>